.name-species{
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
position: fixed;
}
#vedio-home {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  #vedio-home1{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  #p-home{
    color: black;
margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
   justify-content: center;
   text-align: center;
    font-size: 50px;
  }
  
  .container-slide {
    
    left: 30px;
    width: 600px ;
    height: 500px;
    overflow: hidden;
   
    position:relative;
    
  }
  .photo {
    position: absolute;
    animation: round 8s infinite;
    opacity: 0;
    height: 400px;
    width:600px ;
 
  }
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  /* -webkit-@keyframes round {
    25% {
      opacity: 1;
      -webkit-opacity: 1;
    }
    40% {
      opacity: 0;
      -webkit-opacity: 0;
    }
  } */


  img:nth-child(1) {
    animation-delay: 6s;
  }
   
  img:nth-child(2) {
    animation-delay: 4s;
  }
   
  img:nth-child(3) {
    animation-delay: 2s;
  }
   
  img:nth-child(4) {
    animation-delay: 0s;
  }

  .home-contain{
   
    display: flex;

  }
  .home-type{
    flex: 0.9;
    margin-left: 90px;
    margin-top: 50px;
  }
  
  .container2{
    display: flex;
  }
  .type2{
  flex: 1.2;
  margin-right:40px;
  }
  .vedio1{
flex: 0.9;

    width: 470px;
    

  }


